@addTagHelper "*, TomSun.AspNetCore.RazorReact"
@using TomSun.AspNetCore.RazorReact.DemoApp.Views.Shared.Components.TextBox
@inherits TextBox.Page
<react-class class-name="@ReactClassName">
   
        <div>@GetText()</div>
  
    <react-constructor>
        this.state = props;
        this.handleChange = this.handleChange.bind(this);
        this.handleBlur = this.handleBlur.bind(this);
    </react-constructor>
    <react-render-funcion>
        <div>
            <label>@Bind(x => x.props.Label)</label>
            <input className="form-control" type="text"
                   value="@Bind(x => x.state.Value)"
                   placeholder="@Bind(x => x.props.PlaceHolder)"
                   onChange="{ this.handleChange }"/>
        </div>
    </react-render-funcion>
    <react-code>
        handleChange(event) {
        this.setState(
        {Value : event.target.value});

        if(this.props.OnChange)
        this.props.OnChange(event.target.value);
        }

        handleBlur() {
        }
    </react-code>
</react-class>

@functions
{


    private string GetText()
    {
        return "Trala";
    }

}